body{
    background-color: #3a405a;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
.switch input { 
opacity: 0;
width: 0;
height: 0;
}
  
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: #2196F3;
}

input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}

.form-button{
    background-color: #6C757D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.form-button:hover{
    background-color: #495056;
    outline: none !important;
    border: none !important;
    box-shadow: none;
}

.logo-img{
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.language-selector{
    float: right;
    font: 200 20px monospace;
    text-align: left;
}

.main-content{
    font: 500 20px "Roboto","Arial",sans-serif;
    background-color: #aec5eb;
    width: 50%;
    border-radius: 4%;
    text-align: center;
    padding: 2rem;
}

.survey-container{
    font: 500 20px "Roboto","Arial",sans-serif;
    background-color: #aec5eb;
    width: 50%;
    border-radius: 2%;
    text-align: center;
    padding: 2rem;
    margin-top: 1rem;
}

@media screen and (max-width: 600px) {
    .main-content {
        font: 500 20px "Roboto","Arial",sans-serif;
        background-color: #aec5eb;
        border-radius: 4%;
        text-align: center;
        padding: 2rem;
        width: 80%;
    }

    .survey-container{
        font: 500 20px "Roboto","Arial",sans-serif;
        background-color: #aec5eb;
        border-radius: 2%;
        text-align: center;
        padding: 2rem;
        margin-top: 1rem;
        width: 80%;
    }
}

.main-centered{
    font: 300 18px "Roboto","Arial",sans-serif;
    background-color: #96c5f7;
    padding: 2rem;
    border: 1px solid black;
    border-radius: 5%;
    text-align: center;
}

.form-questionContainer{
    border: 1px dotted black;
    margin-bottom: 2rem;
    text-align: left;
    margin-left: 1rem;
}

.form-label{
    display: block;
    font-weight: bold;
}

.form-input{
    height: 50%;
    width: 40%;
    padding: 3px 10px;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    background-color: #f6f6f6;
    margin: 8px 0;
    display: inline-block;
    margin-left: 0.5rem;
}

.form-radio{
    float: left;
}